<div class="bg-white w-full p-6 pb-2 pt-3 rounded-lg mt-2 relative">
  <div>
    <span class="text-2xl font-bold break-line block">{{ name }}</span>
    @if (!(con.length === 0 && esx.length === 0)) {
      <span class="block pl-2 text-lg text-gray-600">
        @if (this.esx.length === 0) {
          Completo
        } @else if (this.con.length === 0) {
          Senza aggiunte
        } @else {
          Con
          @for (i of this.con; track $index) {
            {{ i.nome }}
            @if (!(con.length - 1 === $index)) {
              ,
            }
          }
        }
      </span>
    }
  </div>
  <div class="flex w-full justify-between items-center pl-2">
    <div
      class="py-2 px-3 inline-block bg-white border border-gray-200 rounded-lg"
      data-hs-input-number=""
    >
      <div class="flex items-center gap-x-1.5">
        <button
          type="button"
          class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
          tabindex="-1"
          aria-label="Decrease"
          data-hs-input-number-decrement=""
          (click)="reduce()"
        >
          <svg
            class="shrink-0 size-3.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h14"></path>
          </svg>
        </button>
        <input
          class="p-0 w-6 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
          style="-moz-appearance: textfield"
          type="number"
          aria-roledescription="Number field"
          value="0"
          data-hs-input-number-input=""
          [(ngModel)]="quantity"
          (input)="correctQt($event)"
        />
        <button
          type="button"
          class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
          tabindex="-1"
          aria-label="Increase"
          data-hs-input-number-increment=""
          (click)="add()"
        >
          <svg
            class="shrink-0 size-3.5"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h14"></path>
            <path d="M12 5v14"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="text-xl font-bold text-gray-600">
      {{ (this.quantity * this.price).toFixed(2) }}€
    </div>
  </div>

  <div
    class="absolute top-2 right-2 bg-red-600 px-3 py-2 rounded-full"
    (click)="this.onclickdelete()"
  >
      <i class="bi bi-trash-fill text-xl text-white"></i>
  </div>
</div>
