<div class="w-full h-screen bg-gray-100">
  <div
    class="fixed top-0 right-0 left-0 bg-white w-full h-16 z-10 flex items-center justify-between"
  >
    <div
      class="bg-trodetto rounded-full p-2 m-2 text-white"
      (click)="comeBack()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5 8.25 12l7.5-7.5"
        />
      </svg>
    </div>
    <span class="text-xl mt-auto mb-auto px-5 inline-block font-bold">
      8° FESTA DEL TORDETTO
    </span>
    <div class="w-10"></div>
  </div>

  <div class="grid grid-cols-1 p-4 mt-14 gap-2 pb-30 bg-gray-100">
    @for (i of card(); track $index) {
      <app-shop-item
        [id]="i.id"
        [index]="$index"
        [name]="i.name"
        [quantity]="i.qt"
        [price]="i.price"
        [con]="i.con"
        [esx]="i.exclusion"
        (delete)="deleteProduct($event)"
        (qtUpdate)="updateQt($event)"
      ></app-shop-item>
    }
  </div>
  <div
    class="fixed bottom-0 right-0 left-0 bg-white grid grid-cols-6 gap-4 p-3"
  >
    <div class="col-span-4"></div>
    <div class="col-span-2">
      <span
        class="flex items-center justify-end text-black font-bold font-sans text-3xl pr-4"
        >{{ this.totale().toFixed(2) }}€</span
      >
    </div>
    <div class="col-span-6 p-1">
      <button
        class="w-full bg-trodetto text-white font-bold font-stretch-extra-expanded font-sans text-2xl p-2 rounded-xl"
        (click)="confirm()"
      >
        Conferma
      </button>
    </div>
  </div>
</div>
